@import "normalize";
@import "variables";
@import "extends";

/*-----------------------------------------------------------------------------
Globals ///////////////////////////////////////////////////////////////////////
----------------------------------------------------------------------------*/

:root {
  // Zimbabwe flag colors

  // Green

  /*	
  HTML code:	#006401
  RGB code:	R: 0 G: 100 B: 1
  HSV:	120.6° 100% 39.22%
  */

  // Yellow

  /*
  HTML code:	#FFD102
  RGB code:	R: 255 G: 209 B: 2
  HSV:	49.09° 99.22% 100%
  */

  // Red

  /*
  HTML code:	#D40000
  RGB code:	R: 212 G: 0 B: 0
  HSV:	0° 100% 83.14%
  */

  --green: #006401; // Green
  --green-muted: #005801; // Dark Green
  --green-bright: #408b41; // Bright Green
  --red: #d40000;
  --red-muted: #9f0000;
  --red-darker: #850000;
  --red-bright: rgba(223, 64, 64, 1);
  --red-brighter: #fadfdf;
  --red-bright-transparent: rgb(223, 64, 64);
  --yellow: #ffd102;
  --yellow-muted: #bf9d02;
  --yellow-bright: #ffdd41;
  --off-white: #ecf0f1;
  --off-white-transparent: #ecf0f1cc;
  --dark: #252525;
  --dark-transparent: #252525cc;
  --gray: #555555;
  --gray-light: #c5c5c5;
  --body-font-family: Oxygen, "Fira Sans", "Open Sans", sans-serif;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/*-----------------------------------------------------------------------------
Globals - Font & Line Height - Sticky Footer (Flex) ///////////////////////////////////////////////////////////////////////
----------------------------------------------------------------------------*/

body {
  font-family: Oxygen, sans-serif;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: $base-line-height;
  color: #252525;
  background-color: #ecf0f1;

  box-sizing: border-box;

  display: flex;
  min-height: 100vh;
  flex-direction: column;

  @media #{$mq-medium} {
    font-size: $base-font-size * 1.2;
    line-height: $base-line-height * 1.2;
  }

  @media #{$mq-large} {
    font-size: $base-font-size * 1.2;
  }

  @media #{$mq-xlarge} {
    font-size: $base-font-size * 1.3;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size * 1.6;
  }
}
main {
  flex: 1 0 0;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  font-family: Muli, "Work Sans";
  border-left: 4px solid $green-bright;
  font-size: 1.45rem;
  padding-left: 25px;
  margin: 15px 12%;
}

iframe {
  border-radius: 10px;
}

hr {
  border: none;
  border-bottom: 4px solid $red-muted;
  margin: 0 3rem;
  padding: 0 3rem;
}

.measure--lg {
  max-width: 80ch;
}

.measure--md {
  max-width: 60ch;
}

.measure--sm {
  max-width: 40ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Muli, "Work Sans", sans-serif;
  line-height: $header-line-height;
  margin-bottom: 1.5rem;
  margin-top: 2.75rem;
}

h1 {
  // font-size: $base-font-size * 2.25;
  font-weight: normal;
}

[hidden] {
  display: none;
}

form {
  margin: 0 auto;
}
fieldset {
  display: flex;
  flex-flow: column nowrap;
  border: none;
  border-top: 2px solid $green-bright;
  padding: 0.25rem;
  margin: 1.5rem auto;

  @media #{$mq-medium} {
  }
}
fieldset > fieldset {
  margin: 0;
  padding: 0;
}
.form-row {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;

  @media #{$mq-medium} {
    flex-flow: row nowrap;
  }
}

legend {
  box-shadow: none;
  background-color: $dark;
  color: $off-white;
  padding: 0.5rem;
  margin: 0.75rem 0 0 0.25rem;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

label {
  display: inline-block;
  margin: 0;
  padding: 0;
}

input,
select {
  background-color: $off-white;
  margin: 0 0.75rem 0.75rem 0.75rem;
  padding: 0.5rem;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 1px 4px $gray;

  @media #{$mq-medium} {
    margin: 0 0 0 0.75rem;
  }

  &[type="text"] {
    @media #{$mq-medium} {
    }
  }

  &[type="submit"] {
    color: $dark;
    width: 40%;
  }

  &[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    box-shadow: none;
    margin: 0.5rem;
    padding: 0;
  }
}
textarea {
  width: 80%;
  height: 6rem;
  background-color: $off-white;
  margin: 0 0.75rem 0.75rem 0.75rem;
  padding: 0.5rem;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 1px 4px $gray;
  resize: none;
}

/*-----------------------------------------------------------------------------
Links ///////////////////////////////////////////////////////////////////////
----------------------------------------------------------------------------*/

a {
  &:link {
    color: $green;
    text-decoration: none;
  }
  &:visited {
    color: $green-muted;
    opacity: 0.9;
  }
  &:hover,
  &:active,
  &:focus {
    color: $off-white;
    background-color: $green-bright;
  }
}
.header-link {
  text-decoration: none;
  &:link {
    color: $off-white;
    padding-bottom: 5px;
  }
  &:visited {
    color: $off-white;
  }
  &:active,
  &:focus,
  &:hover {
    color: $off-white;
    background-color: $dark;
    border-bottom: 5px solid $off-white;
  }
}
.button {
  &:link,
  &:visited {
    font-weight: bold;
    background-color: $red-muted;
    padding: 0.75rem;
    margin: 0.5rem;
    display: inline-block;
    color: $off-white;
    border-radius: 5px;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $red;
  }
}
.button-muted {
  &:link,
  &:visited {
    font-weight: bold;
    background-color: $gray-light;
    padding: 0.75rem;
    margin: 0.5rem;
    display: inline-block;
    color: $dark;
    border-radius: 5px;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $green-bright;
  }
}

/*-----------------------------------------------------------------------------
Styling Utilities ///////////////////////////////////////////////////////////////////////
----------------------------------------------------------------------------*/

.shadow--sm {
  box-shadow: 1px 3px 7px hsla(180, 5%, 15%, 5%);
  border-radius: 10px;
}

.thumb {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: 0.25rem;
}

.border-bottom {
  border-bottom: 5px solid $green-bright;
}

.accent-color-main {
  color: $green-bright;
  font-weight: bolder;
}

.main-background-grad {
  background: linear-gradient(
      55deg,
      rgb(197, 197, 197) 35%,
      rgba(0, 0, 0, 0) 35%
    ),
    linear-gradient(-25deg, rgba(0, 0, 0, 0) 90%, rgb(197, 197, 197) 90%);
}

.wave-background {
  background-image: url("/assets/images/wave.svg");
  background-size: cover;
}

.light-bg {
  color: $dark;
  background-color: $off-white;
}

.dark-red-bg {
  background-color: $red-muted;
  color: $off-white;

  a {
    &:link,
    &:visited {
      color: $off-white;
      text-decoration: underline;
    }
    &:focus,
    &:hover,
    &:active {
      color: $green-bright;
      background-color: $off-white;
    }
  }
}

.dark-gray-bg {
  background-color: $gray;
  color: $off-white;

  a {
    &:link,
    &:visited {
      color: $off-white;
      text-decoration: underline;
    }
    &:focus,
    &:hover,
    &:active {
      color: $green-bright;
      background-color: $off-white;
    }
  }
}

/*-----------------------------------------------------------------------------
Spacing and Positioning Utilities ///////////////////////////////////////////////////////////////////////
----------------------------------------------------------------------------*/

.container {
  margin: 0 4%;

  @media #{$mq-medium} {
    margin: 0 8%;
  }

  @media #{$mq-large} {
    margin: 0 14%;
  }

  @media #{$mq-xlarge} {
    margin: 0 20%;
  }
}
.container-narrow {
  margin: 0 4%;

  @media #{$mq-medium} {
    margin: 0 18%;
  }

  @media #{$mq-large} {
    margin: 0 24%;
  }

  @media #{$mq-xlarge} {
    margin: 0 24%;
  }
}
.container-inner {
  margin: 0 4%;

  @media #{$mq-large} {
    margin: 0 7%;
  }

  @media #{$mq-xlarge} {
    margin: 0 10%;
  }
}
.container-inner-sm {
  margin: 0;

  @media #{$mq-medium} {
    margin: 0 2%;
  }

  @media #{$mq-large} {
    margin: 0 3%;
  }

  @media #{$mq-xlarge} {
    margin: 0 5%;
  }
}
.flex-container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 4%;
  align-content: space-around;

  @media #{$mq-medium} {
    flex-flow: row nowrap;
    margin: 0 6%;
  }

  @media #{$mq-large} {
    margin: 0 9%;
  }

  @media #{$mq-xlarge} {
    margin: 0 12%;
  }
}
.flex-container-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;

  @media #{$mq-medium} {
  }

  @media #{$mq-large} {
  }

  @media #{$mq-xlarge} {
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;

  @media #{$mq-medium} {
    grid-template-columns: 1fr 1fr;

    & > div:nth-child(1) {
      grid-area: 1 / 1 / 1 / 2;
    }

    & > div:nth-child(2) {
      grid-area: 1 / 2 / 1 / 3;
    }
  }

  @media #{$mq-large} {
    grid-template-columns: 1fr 1fr;

    & > div:nth-child(1) {
      grid-area: 1 / 1 / 1 / 2;
    }

    & > div:nth-child(2) {
      grid-area: 1 / 2 / 1 / 3;
    }
  }
}
.grid-container-inner {
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  justify-content: space-around;
  margin: 1.5rem auto;
  text-align: center;

  & > * {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  @media #{$mq-medium} {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
.card {
  box-shadow: 2px 4px 7px $dark;

  &:nth-child(1) {
    margin-top: 0;
  }

  @media #{$mq-medium} {
  }
}
.aside {
  border: 1px solid $dark;
  padding: 1.5rem;
  box-shadow: 1px 2px 7px $dark;
}
.border {
  border: 1px solid $off-white;
  border-radius: 10px;
  padding: 0.75rem;
  margin: 0.75rem auto;
}
.final-card {
  background-color: $gray;
  margin-top: 3rem;
  color: $off-white;

  a {
    &:link,
    &:visited {
      color: $off-white;
      text-decoration: none;
      background-color: $green-bright;
    }
    &:hover,
    &:active,
    &:focus {
      color: $off-white;
    }
  }
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}
/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.75rem;

  & > .gallery-item:nth-child(3n + 1) {
    grid-column: 1 / 3;
  }

  @media #{$mq-small} {
    margin: 0.75rem 3rem;
  }
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.gallery-item {
  margin: 0 auto;
  position: relative;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}

.text-block {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $dark-transparent;
  color: $off-white;
  padding: 0.75rem;
  border-radius: 10px;
}

.right {
  float: right;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack * + * {
  margin-top: $space-small;

  label,
  input,
  select,
  li,
  rem,
  svg,
  img,
  figcaption,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0.75rem;
  }
}

.stack > * + * {
  margin-top: $space;
}

.margin-top-spacer {
  margin-top: 3rem;
}

.margin-bottom-spacer {
  margin-bottom: 3rem;
}

.negative-margin {
  margin-bottom: -3rem;
  position: relative;
  z-index: 2;

  @media #{$mq-small} {
    margin-bottom: -6rem;
  }
}
.negative-margin-top {
  position: relative;
  margin-top: -3rem;
  z-index: 2;

  @media #{$mq-small} {
    margin-top: -6rem;
  }
}

/*--
Containers and cards 
--*/

/*-----------------------------------------------------------------------------
Header ///////////////////////////////////////////////////////////////////////
----------------------------------------------------------------------------*/

.main-hero {
  background-color: $dark;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.05)
    ),
    url("/assets/images/header_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $off-white;
  min-height: 70vh;
}
.regional-tours-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.15)),
    url("/assets/images/");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $off-white;
}
.disclaimer-hero {
  background-color: $gray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $off-white;
}

/*-----------------------------------------------------------------------------
Navigation ///////////////////////////////////////////////////////////////////////
----------------------------------------------------------------------------*/

nav {
  width: 100%;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  z-index: 10;
  padding: 0.75rem;

  .active {
    border-bottom: 2px solid $dark;
  }

  button {
    display: none;
  }

  div {
    padding: 0;
  }

  @media #{$mq-medium} {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
  }
}

.logo {
  &:link {
    color: none;
    background-color: initial;
    text-decoration: none;
  }
  &:visited {
    background-color: initial;
    color: none;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: initial;
    color: none;
  }
}

.js nav button {
  position: absolute;
  right: 0.25rem;
  top: 0.75rem;
  display: block;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: $off-white;

  &:hover,
  &:active,
  &:focus {
    color: $green-bright;
  }

  span {
    display: block;
  }

  @media #{$mq-small} {
    display: none;
  }
}

.js .nav-content {
  display: none;
  transition: 0.5s ease-in-out;
  padding: 0 0.75rem;

  @media #{$mq-small} {
    display: block;
    background-color: transparent;
    box-shadow: none;
  }
}

.nav-content {
  display: block;
}

.nav-links {
  list-style: none;
  padding: 0;

  @media #{$mq-small} {
    display: flex;
    flex-flow: row nowrap;
  }
}

.nav-link:link,
.nav-link:visited {
  color: $off-white;
  text-decoration: none;
  display: block;
  padding: 0.25rem;
  border-bottom: 2px solid $off-white;

  @media #{$mq-small} {
    padding: 0.25rem 0.75rem;
  }

  &:hover,
  &:active,
  &:focus {
    color: $off-white;
    background-color: $red-muted;
  }
}
.hide {
  display: none;
}
.js .show {
  display: block;
}
/*
.shrink {
  width: 40%;
  height: 1.5rem;
  background-color: $red-muted;
  border-radius: 20px;
  border-top: 5px solid $green-bright;
  box-shadow: 1px 4px 5px rgba(0,0,0,0.4);
  margin: 1.5rem auto;
  padding: 1.5rem;
  
  @media #{$mq-small} {
    width: 60%;
  }
  
}
*/

/*-----------------------------------------------------------------------------
Footer ///////////////////////////////////////////////////////////////////////
----------------------------------------------------------------------------*/

footer {
  background-color: $gray-light;
  text-align: center;
  color: $dark;

  div {
    margin: 0 auto;
  }

  a {
    &:link {
      color: $green-bright;
      transition: 0.4s ease-in-out;
      text-decoration: none;
    }

    &:visited {
      color: $gray;
      opacity: 0.9;
    }

    &:hover,
    &:active,
    &:focus {
      color: $off-white;
      background-color: $green-bright;
    }
  }
}
