<footer id="contact" class="">
    <div class="flex-container">
        <div>
            <h1>Contact</h1>
            <p>
                Email: <a href="mailto:youremail@emai.com">
                    smallworldtravelafrica
                </a>
            </p>
            <p>
                Phone: <a href="tel:">
                    562-631-2424
                </a>
            </p>
        </div>
        <div class="">
            <h1>Policies</h1>
            <p class="">
                <a href="/disclaimer.html" class="no-link-style">
                    Disclaimer
                    <i class="fas fa-arrow-right"></i>
                </a>
            </p>
            <p class="">
                <a href="/privacy-policy.html" class="no-link-style">
                    Privacy Policy 
                    <i class="fas fa-arrow-right"></i>
                </a>
            </p>
        </div>
    </div>
    <p class="">
        Copyright &copy; 2019 Small World Travel Africa. All rights reserved.
    </p>
</footer>