<section id="main" class="margin-top-spacer    stack    container">
    <div class="flex-container-center">
        <h1>Our partners</h1>
        <hr>
        <div class="grid-container    margin-bottom-spacer">
            <div class="container-inner   measure--md">
                <h2>Amon Tsabola</h2>
                <figure class="">
                    <img class="thumb" src="assets/images/amon_main_crop_small.jpg" alt="Tour guide Amon Tsabola" height="100px">
                    <figcaption>
                        Amon Tsabola guides regional tours of southern Africa for families and educational groups.
                    </figcaption>
                </figure>
                <a href="#partners-amon" class="button">Meet Amon Tsabola</a>
            </div>
            <div class="container-inner   measure--md">
                <h2>Mary & Jonah Gokova</h2>
                <figure class="">
                    <img class="thumb" src="assets/images/two_people_closeup.jpg" alt="Total Sensitivity hosts Mary and Jonaj Gokova" height="100px">
                    <figcaption>
                        Mary & Jonah Gokova operate <em>Total Sensitivity</em>, a purpose made cultural immersion program in Zimbabwe for families and groups.
                    </figcaptionP>
                </figure>
                <a href="#partners-total-sensitivity"  class="button">Meet The Gokovas</a>
            </div>
        </div>
        <h1>Our team</h1>
        <hr>
        <div class="container-inner   measure--md">
            <h2>Steve and Catherine Hanna Askin</h2>
            <figure>
                <img class="thumb" src="/assets/images/group_with_waterfall.jpg" alt="Steve and Catherine Hanna Askin posing with a group in front of Victoria Falls." height="100px">
                <figcaption>
                    Steve and Catherine created Small World Travel Africa to help you experience southern Africa. Steve started exploring the continent in the 1980s when he was a journalist covering African freedom struggles. Catherine is a homeschooling leader who worked with Amon, Mary, and Jonah to create a unique cultural learning experience for the travelers you see here.
                </figcaption>
            </figure>
            <a href="https://www.facebook.com/groups/1709995505772572/" target="_blank" rel="noreferer noopener" class="button">Learn more about our travels</a>
        </div>
    </div>
</section>