<section id="main" class="margin-top-spacer    stack    container">
    <div class="flex-container-center">
        <h1>Our partners</h1>
        <hr>
        <div class="grid-container">
            <div class="container-inner   measure--md">
                <h2>Amon Tsabola</h2>
                <figure class="">
                    <img class="thumb" src="assets/images/amon_main_crop_small.jpg" alt="Tour guide Amon Tsabola" height="100px">
                    <figcaption>
                        Amon Tsabola guides regional tours of southern Africa for families and educational groups.
                    </figcaption>
                </figure>
                <a href="#partners-amon" class="button">Meet Amon Tsabola</a>
            </div>
            <div class="container-inner   measure--md">
                <h2>Mary & Jonah Gokova</h2>
                <figure class="">
                    <img class="thumb" src="assets/images/two_people_closeup.jpg" height="100px">
                    <figcaption>
                        Mary & Jonah Gokova operate <em>Total Sensitivity</em>, a purpose made cultural immersion program in Zimbabwe for families and groups.
                    </figcaptionP>
                </figure>
                <a href="#partners-total-sensitivity" alt="Total Sensitivity hosts Mary and Jonaj Gokova" class="button">Meet The Gokova's</a>
            </div>
        </div>
    </div>
</section>