<article id="partners-amon" class="container   stack   margin-top-spacer">
    <div class="grid-container">
        <div class="">
            {{ with .Site.GetPage "/partners-amon-about.md" }}{{ .Content }}{{ end }}
            <a href="/regional-tours/" class="button">
                Learn More
            </a>
        </div>
        <div class="">
            <div class="gallery">
                <figure class="gallery-item">
                    <img src="assets/images/amon_main_crop.jpg" class="gallery-image" alt="Tour guide Amon Tsabola seated on the hood of a van outdoors" width="300px">
                </figure>
                <figure class="gallery-item">
                    <img src="assets/images/lion.jpg" class="gallery-image" alt="Closeup of a lion in an exhibit" width="300px">
                </figure>
                <figure class="gallery-item">
                    <img src="assets/images/group-in-van.jpg" class="gallery-image" alt="A tour group posing for a group photo in Amon's van" width="300px">
                </figure>
            </div>
            <div class="container-inner">
                <small>
                    <em>
                        Amon Tsabola sits atop his passenger van (top), a lion in an exhibit (bottom, left), a tour group posing for a group photo in Amon's van (bottom, right) &mdash; click images to enlarge 
                    </em>
                </small>
            </div>
        </div>
    </div>
</article>