<article id="partners-total-sensitivity" class="container   stack   margin-top-spacer">
    <div class="grid-container"> 
        <div class="">
            {{ with .Site.GetPage "/partners-total-about.md" }}{{ .Content }}{{ end }}
            <a href="/cultural-immersion/" class="button">
                Learn More
            </a>
        </div>
        <div class="">
            <div class="gallery">
                <figure class="gallery-item gallery-item-lg-top">
                    <img src="assets/images/two_people_closeup.jpg" class="gallery-image" alt="A closeup of Total Sensitivity hosts Mary and Jonah Gokova." width="300px">
                </figure>
                <figure class="gallery-item gallery-item-md-left">
                    <img src="assets/images/total_sensitivity_group.jpg" class="gallery-image" alt="A group of teenagers posing in front of a fenced exhibit at a zoo." width="300px">
                </figure>
                <figure class="gallery-item gallery-item-md-right">
                    <img src="assets/images/girls_outside_embrace.jpg" class="gallery-image" alt="Two teenage girls posing for a photo with their arms around one another's shoulders" width="300px">
                </figure>
            </div>
            <div class="container-inner">
                <small>
                    <em>
                        Total Sensitivity hosts Mary & Jonah Gokova (top), a group of teenagers taking part in a Total Sensitivity programme posing in front of an exhibit at a zoo (bottom, left), two teenagers embracing in front of an exhibit at a zoo (bottom, right) &mdash; click images to enlarge
                    </em>
                </small>
            </div>
        </div>
    </div>
</article>